.custom-container {
  background-color: #f9f9f9;
  border-radius: 10px;
}

.custom-boder {
  border: 2px solid #ddd;
}

.custom-text {
  color: #007bff;
  font-weight: bold;
}

.custom-color {
  background-color: #28a745;
  color: white;
}

.custom-color:hover {
  background-color: #218838;
}
