.custom-container {
  max-width: 1366px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  .custom-border {
    background-color: #e7e7e7;
    .custom-text {
      color: #ffb433;
    }
    .custom-color {
      background-color: #34c759;
      color: #1e1e1e;
      border: 1px solid #02542d;
    }
  }
}
